<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Optica fOCUS Minilent</title>
    <meta name="description" content="Optica Focus Minilent">
    <meta name="title" content="Optica Focus Minilent">
    <meta name="keywords" content="optica, optica focus, optica focus minilent, focus minilent, focus, minilent, 
        lentes de contacto, armazones, lentes de sol, lentes polarizados">

    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="57x57" href="../../static/focus/icon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="../../static/focus/icon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../../static/focus/icon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="../../static/focus/icon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../../static/focus/icon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../../static/focus/icon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../../static/focus/icon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../../static/focus/icon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../../static/focus/icon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="../../static/focus/icon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../../static/focus/icon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="../../static/focus/icon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../../static/focus/icon/favicon-16x16.png">
    <link rel="manifest" href="../../static/focus/icon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <meta name="google-site-verification" content="dW7cUEkP218FaQexT-SyJWBFjoyp0036SsecIR-vtUI" />
    
    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <link href="../../static/focus/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="../../static/focus/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="../../static/focus/vendor/icofont/icofont.min.css" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@900&display=swap" rel="stylesheet">




    <!-- Template Main CSS File -->
    <link href="../../static/focus/css/style.css" rel="stylesheet">


</head>

<body>

  <!-- ======= Top Bar ======= -->
  <div id="topbar" class="d-none d-lg-flex align-items-center fixed-top">
    <div class="container d-flex">
      <div class="contact-info mr-auto">
        <i class="icofont-envelope"></i> <a href="mailto:focusmini14@gmail.com">focusmini14@gmail.com</a>
        <i class="icofont-phone"></i> 2900 74 71
        <i class="icofont-google-map"></i> 18 DE JULIO 1044 of. 105 galeria Diri
      </div>
      <div class="social-links">
        <a href="#" class="twitter"><i class="icofont-twitter"></i></a>
        <a href="https://www.facebook.com/pages/category/Health-Beauty/Optica-Focus-minilent-355632537826718/" class="facebook" add target="_blank"><i class="icofont-facebook"></i></a>
        <a href="#" class="instagram"><i class="icofont-instagram"></i></a>
        <a href="#" class="linkedin"><i class="icofont-linkedin"></i></i></a>
      </div>
    </div>
  </div>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">
        <img src="../../static/focus/img/focus.jpeg" alt="" height="50px"/>
      <h1 class="logo mr-auto"><a href="{% url 'index' %}">Optica <span style="font-family: 'Kanit', sans-serif;">fOCUS</span> <span style="font-family:Brush Script MT, Brush Script Std, cursive">minilent</span></a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="{% url 'index' %}">Home</a></li>
          <li><a href="{% url 'contact' %}">About</a></li>
          <li class="drop-down"><a href="">Lentes de Contacto</a>
            <ul>
              <li><a href="#">Tipos de lentes</a></li>
              <li><a href="{% url 'lentescontacto' %}">Videos Instructivos</a></li>
            </ul>
          </li>
          <li><a href="#departments">Departments</a></li>
          <li><a href="#doctors">Doctors</a></li>
          <li><a href="{% url 'contact' %}">Contacto</a></li>

        </ul>
      </nav><!-- .nav-menu -->


    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <!-- <section id="hero" class="d-flex align-items-center">
    <div class="container">
      <h1>Welcome to Medilab</h1>
      <h2>We are team of talanted designers making websites with Bootstrap</h2>
      <a href="#about" class="btn-get-started scrollto">Get Started</a>
    </div>
  </section> -->
  <!-- End Hero -->

  <main id="main">


    {% block body %}
    {% endblock %}



    </main><!-- End #main -->


    <!-- ======= Footer ======= -->
    <footer id="footer">

        <div class="footer-top">
            <div class="container">
                <div class="row">

                    <div class="col-lg-3 col-md-6 footer-contact">
                        <h3>Optica <span style="font-family: 'Kanit', sans-serif;">fOCUS</span> <span style="font-family:Brush Script MT, Brush Script Std, cursive">minilent</span></h3>
                        <p>
                            18 DE JULIO 1044 of. 105 galeria Diri
                            Montevideo, Uruguay <br><br>
                            <strong>Horario:</strong> Lunes a Viernes de 9:00 a 19:00 Hs.<br>
                            <strong>Tel&eacute;fono:</strong> 2900 74 71<br>
                            <strong>Email:</strong> <a href="mailto:focusmini14@gmail.com" class="text-primary">focusmini14@gmail.com</a><br>
                        </p>
                    </div>

                    <div class="col-lg-2 col-md-6 footer-links">
                        <h4>Useful Links</h4>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="{% url 'contact' %}">About us</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>Nuestros Servicios</h4>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Armazones</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Lentes de Sol</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Lentes de Contacto</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-4 col-md-6 footer-newsletter">
                        <h4>&Uacutenete a nuestro Newsletter y Ofertas</h4>
                        <p>Si quieres recibir nuestro cat&aacute;logo de ofertas y promociones puedes suscribirte ingresando tu cuenta de mail.</p>
                        <form action="submit_newsletter" method="post">
                            {% csrf_token %}
                            <input type="email" name="email" required>
                            <input type="submit" value="Suscr&iacute;bete">
                        </form>
                    </div>

                </div>
            </div>
        </div>

        <div class="container d-md-flex py-4">

            <div class="mr-md-auto text-center text-md-left">
                <div class="copyright">
                    &copy; Copyright <strong><span>fOCUS Minilent 2020</span></strong>. Todos los derechos reservados.
                </div>

            </div>
            <div class="social-links text-center text-md-right pt-3 pt-md-0">
                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="https://www.facebook.com/pages/category/Health-Beauty/Optica-Focus-minilent-355632537826718/" class="facebook" add target="_blank"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
        </div>
    </footer><!-- End Footer -->

    <div id="preloader"></div>
    <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

    <!-- Vendor JS Files -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>



    <!-- Template Main JS File -->
    <script src="../../static/focus/js/main.js"></script>

</body>

</html>