<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="Description" content="Optica Focus Minilent" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>Optica Focus Minilent</title>
</head>

<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <img src="../../static/focus/focus.jpeg" style="height: 50px; width: 70px;">
                <a class="navbar-brand" href="/">Optica</a>
                <a class="navbar-brand" href="/lentescontacto">Lentes de Contacto</a>
                <a class="navbar-brand" href="/about">Ofertas</a>
                <a class="navbar-brand" href="/about">Mas Informacion</a>
                <a class="navbar-brand" href="/ubicacion">Ubicacion</a>
                <a class="navbar-brand" href="/lab">Historia</a>
            </div>
        </div>
    </nav>
    {% block body %}
    {% endblock %}

    <!-- Footer -->

    <footer class="page-footer font-small blue pt-4 fixed-bottom">

        <!-- Footer Links -->
        <div class="container-fluid text-center text-md-left">

            <!-- Grid row -->
            <div class="row">

                <!-- Grid column -->
                <div class="col-md-6 mt-md-0 mt-3">

                    <!-- Content -->
                    <h5 class="text-uppercase"></h5>
                    <p>Direccion: 18 DE JULIO 1044 of. 105 galeria Diri - Centro - Montevideo</p>
                    <p>Telefono: 29007471</p>
                    <p>Horario de Atencion</p>
                    <p>Lunes a Viernes de 9:00 a 19:00 Hs.</p>
                    <p>Email | <focusmini14@gmail class="com">focusmini14@gmail.com</focusmini14@gmail>
                    </p>

                </div>
                <!-- Grid column -->

                <hr class="clearfix w-100 d-md-none pb-3">

                <!-- Grid column -->
                <div class="col-md-3 mb-md-0 mb-3">

                    <!-- Links -->
                    <h5 class="text-uppercase">Links</h5>

                    <ul class="list-unstyled">
                        <li>
                            <a href="#!">Link 1</a>
                        </li>

                    </ul>

                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-3 mb-md-0 mb-3">

                    <!-- Links -->
                    <h5 class="text-uppercase">Links</h5>

                    <ul class="list-unstyled">
                        <li>
                            <a href="#!">Link 1</a>
                        </li>

                    </ul>

                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row -->

        </div>
        <!-- Footer Links -->

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2020 Copyright:
            <a href=""> Optica Focus Minilent</a>
        </div>
        <!-- Copyright -->

    </footer>
    <!-- Footer -->
</body>

</html>