{% extends "focus/layout.html" %}

{% block body %}


<!-- ======= Contact Section ======= -->
<section id="services" class="services">

    <div class="container">
        <div class="section-title">
            <h2>Como colocar y quitar lentes de contacto</h2>
            <p>Videos instructivos mostrando como poner y quitar los lentes de contacto.</p>
        </div>

        <div class="embed-responsive embed-responsive-16by9">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/X5y0bLGCkX0" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>

        <div class="embed-responsive embed-responsive-16by9">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/0wj8uwgVPyE" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
        <div class="embed-responsive embed-responsive-16by9">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/K5pD9dKR9r0" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>

    </div>

</section><!-- End Contact Section -->

{% endblock %}