{% extends "focus/layout.html" %}

{% block body %}


<!-- ======= Contact Section ======= -->
<section id="contact" class="contact">

<div class="container" id="margen" class="ui main text container segment">
    <div class="ui huge header"><h1>Como colocar y quitar lentes de contacto</h1></div>
    <div class="embed-responsive embed-responsive-16by9">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/X5y0bLGCkX0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <div class="embed-responsive embed-responsive-16by9">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/0wj8uwgVPyE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <div class="embed-responsive embed-responsive-16by9">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/K5pD9dKR9r0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
      
</div>

</section><!-- End Contact Section -->

{% endblock %}